:root {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #fff;
}

.app-container {
  min-height: 100vh;
}

main {
  padding-top: 3.5rem;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  padding: 2rem;
}
