.authentication-page {
  @include flex-col;
  height: 100vh;

  @include mq(mobilelg) {
    justify-content: flex-start;
    margin-top: 6rem;
  }
}

/*******************************
  *********** HEADER ***********
 ******************************/

.auth-header {
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;

  @include mq(mobilelg) {
    height: 7rem;
    border-bottom: unset;
  }
}

.auth-header-container {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  @include flex-row;
  justify-content: space-between;
  align-items: center;

  @include mq(mobilelg) {
    flex-direction: column;
  }
}

.auth-logo-gpm {
  width: 15rem;

  @include mq(mobilelg) {
    width: 12rem;
    margin-top: 1rem;
  }
}

.auth-header-nav ul {
  @include flex-row;
  @include mq(mobilelg) {
    width: 100%;
  }
}

.auth-header-nav li {
  padding: 0.6rem 1.4rem;
  border-radius: 1rem;
  font-weight: $fw-bold;
  cursor: pointer;
}
.auth-header-nav li.active {
  background-color: $clr-secondary;
  @include mq(mobilelg) {
    background-color: #fff;
    color: $clr-primary;
  }
}

/*******************************
  *********** MODAL ***********
 ******************************/

.auth-modal {
  padding: 3rem 0;
  width: 30rem;
  max-width: 30rem;
  border-radius: 2rem;
  background-color: $clr-secondary-light;

  @include mq(mobilelg) {
    width: 100%;
    border-radius: unset;
  }
}

.auth-modal-container {
  @include flex-col;
  margin: 0 auto;
  height: 100%;
}

.login-form,
.signup-form {
  @include flex-col;
  width: 75%;
  height: 100%;
}

input {
  margin: 0.5rem 0;
  height: 2rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
}

input:focus {
  border: 1px solid $clr-primary;
}

.password-info {
  padding-top: 0.4rem;
  font-size: $fs-200;
  font-style: italic;

  @include mq(mobile) {
    text-align: center;
  }
}
