.authentication-page {
  @include flex-col;
  height: 100vh;
}

.auth-container {
  width: 50%;
  max-width: 30rem;

  &__header {
    ul {
      @include flex-row;
    }

    li {
      width: 50%;
      padding: 1rem;
      background-color: $clr-secondary;
      text-align: center;
      cursor: pointer;
    }
    li.active {
      background-color: $clr-primary;
    }
    li.login-tab {
      border-top-left-radius: 1.5rem;
    }
    li.signup-tab {
      border-top-right-radius: 1.5rem;
    }
  }

  &__body {
    @include flex-col;
    height: 20rem;
    border: 1px solid #ccc;
  }
}

.login-form,
.signup-form {
  margin: 3rem;
}

.form-title {
  padding-bottom: 1.5rem;
}

input {
  margin-bottom: 0.6rem;
}

label {
  display: block;
}
