.profile-page {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(mobilelg) {
    width: 90%;
  }
}

.profile-page h1 {
  @include mq(mobilelg) {
    margin-top: 4rem;
    padding: 2rem 0;
    font-size: $fs-700;
  }
}

.picture-container {
  width: 100%;
  margin-bottom: 2rem;
}

.handle-img-btn {
  @include flex-row;
  color: $clr-primary;
  font-size: $fs-400;
  @include mq(mobilelg) {
    flex-direction: column;
  }
}

.handle-img-btn .change-img-btn,
.handle-img-btn .delete-img-btn {
  color: $clr-primary;
  font-size: $fs-300;
}

.change-img-btn {
  cursor: pointer;
}

.edit-pic-container {
  @include flex-col;
}

.edit-pic-container input[type='file'] {
  display: none;
}

.info-container {
  width: 100%;
  margin-bottom: 2rem;
  margin-bottom: 3rem;
}

.field-container {
  margin: 1rem 0;
  width: 100%;
  @include flex-col;
}

.field-content {
  padding: 0.5rem 0;
  text-align: center;
}

.avatar-container {
  width: 10rem;
}

.field-title {
  font-weight: bold;
  text-align: center;
}

.profile-pic-container {
  @include flex-col;
}

.profile-pic {
  margin: 2rem 0;
  border-radius: 50%;
  object-fit: cover;
  width: 13rem;
  height: 13rem;
}

.edit-pic-btn {
  margin: 1.5rem 0;
}

.info-container-buttons {
  @include flex-col;
}

.edit-infos-form {
  @include flex-col;
}

.edit-infos-form input {
  background-color: #eee;
  width: 60%;
}
