.header {
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;

  @include mq(mobilelg) {
    border-bottom: unset;
    height: 8rem;
  }
}

.header-container {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(mobilelg) {
    @include flex-col;
  }
}

.logo-gpm {
  width: 15rem;
  @include mq(mobilelg) {
    width: 11rem;
    margin: 1rem 0;
  }
}

.logout-btn {
  justify-self: right;
  margin-right: 2rem;
}

.header-nav ul {
  display: flex;
}

.header-nav ul li:last-child {
  @include mq(mobilelg) {
    width: 2rem;
    padding-left: 0;
  }
}
