.header {
  height: 3.5rem;
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #fff;
}

.logo-gpm {
  width: 15rem;
}

.logout-btn {
  justify-self: right;
  margin-right: 2rem;
}
