.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 9999px;
  font-weight: $fw-bold;
  font-size: $fs-400;

  @include mq(mobilelg) {
    padding: 0.4rem 0.8rem;
    font-size: $fs-300;
  }

  @include mq(mobilesm) {
    padding: 0.2rem 0.6rem;
    font-size: $fs-200;
  }
}

.btn-primary {
  background-color: $clr-primary;
  color: white;
}
.btn-primary:hover {
  background-color: $clr-primary-light;
}

.btn-secondary {
  background-color: #ffd7d7;
}

.btn-black {
  margin: 0 1rem;
  border-radius: 9999px;
  background-color: black;
  color: white;
}
.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.delete-btn {
  margin-left: 0.6rem;
}

.post-btn {
  margin-top: 0.7rem;
}

.btn-icon {
  padding-right: 0.5rem;
  @include mq(mobilesm) {
    font-size: $fs-200;
  }
}

.send-comment-btn {
  width: 2rem;
  height: 2rem;
  @include flex-col;
  @include mq(mobilesm) {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.send-comment-btn .btn-icon {
  padding: 0;
  font-size: 17px;
  @include mq(mobilesm) {
    font-size: $fs-200;
  }
}
