.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 9999px;
  font-weight: $fw-bold;
  font-size: $fs-400;
}

.btn-primary {
  background-color: $clr-primary;
  color: white;
}
.btn-primary:hover {
  background-color: $clr-primary-light;
}

.btn-secondary {
  background-color: #ffd7d7;
}

.btn-black {
  margin: 0 1rem;
  border-radius: 9999px;
  background-color: black;
  color: white;
}
.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.delete-btn {
  margin-left: 0.6rem;
}

.post-btn {
  margin-top: 0.7rem;
}

.btn-icon {
  padding-right: 0.5rem;
}
