.comment-card {
  padding: 0 0.75rem;
  border: 1px solid #eee;
  margin-bottom: 0.75rem;
  border-radius: 1rem;
  font-size: 14px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author {
    @include flex-row;
  }

  &__picture img {
    border-radius: 9999px;
    object-fit: cover;
    width: 2rem;
    height: 2rem;
  }

  &__username {
    font-weight: bold;
    margin-left: 1rem;
  }

  &__createdAt {
    margin: 1rem 0;
    font-style: italic;
    color: $clr-tertiary-light;
    font-size: 14px;
  }

  &__body {
    position: relative;
  }

  &__comment {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 85%;
  }
}

.comment-counter {
  margin-left: 1rem;
}

.send-comment-btn {
  width: 2rem;
  height: 2rem;
  @include flex-col;
}
.send-comment-btn .btn-icon {
  padding: 0;
  font-size: 18px;
}

.comment-card .edit-delete-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
