.post-card {
  padding: 0 1.75rem;
  margin-bottom: 0.75rem;
  max-width: 60vw;
  border: 1px solid #eee;
  border-radius: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__username {
    font-weight: bold;
    padding: 1.5rem 0;
  }

  &__createdAt {
    margin: 1rem 0;
    font-style: italic;
    color: grey;
    font-size: 14px;
  }

  &__footer {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;


    .like-counter {
      padding-left: 1rem;
    }
  }
}

.post-card__rating {
  display: flex;
}

.like-btn-active {
  color: #FD2D01;
  cursor: pointer;
}

.like-btn-inactive {
  cursor: pointer;
}

.post-card:last-child {
  margin-bottom: 3rem;
}

.post-card__comment {
  display: flex;
}


.updatePost {
  width: 30rem;
}

.edit-delete-buttons {
  flex-basis: 30%;
  align-self: flex-end;
}

.post-card__image {
  width: 85%;
  margin: 1rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
