.post-card {
  padding: 0 1.75rem;
  margin-bottom: 0.75rem;
  max-width: 60vw;
  border: 1px solid #eee;
  border-radius: 1rem;

  &__header {
    padding: 1rem 0;
    width: 100%;
    @include flex-row;
    justify-content: space-between;

    &__author {
      @include flex-row;

      &__picture img {
        border-radius: 50%;
        object-fit: cover;
        width: 3rem;
        height: 3rem;
      }
      &__name {
        font-weight: bold;
        padding: 0 1rem;
      }
    }

    &__createdAt {
      margin: 1rem 0;
      font-style: italic;
      color: $clr-tertiary-light;
      font-size: 14px;
    }
  }

  &__body {
    &__message {
      text-align: justify;
    }

    &__image {
      margin: 1rem auto 0;
      width: 80%;
    }
  }

  &__footer {
    padding: 1.5rem 0;
    @include flex-row;
    justify-content: space-around;

    .like-counter {
      padding-left: 1rem;
    }

    .toggle-comments {
      cursor: pointer;
    }
  }
}

.post-card:last-child {
  margin-bottom: 3rem;
}

.post-card__rating {
  display: flex;
}

.like-btn-active {
  color: #fd2d01;
  cursor: pointer;
}

.like-btn-inactive {
  cursor: pointer;
}

.post-card__comment {
  display: flex;
}

.updatePost {
  width: 30rem;
}

.post-card textarea {
  height: 6rem;
  margin-top: 0.6rem;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 16px;
}
