.post-card {
  padding: 1.75rem;
  margin-bottom: 0.75rem;
  max-width: 60vw;
  border: 1px solid #eee;
  border-radius: 1rem;

  &__username {
    font-weight: bold;
  }

  &__createdAt {
    margin: 1rem 0;
    font-style: italic;
    color: grey;
    font-size: 14px;
  }
}
